#root{
    background: linear-gradient(to bottom, rgb(120, 120, 120), rgb(85, 84, 84));
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1, h2, h3 { color: aliceblue;}